
.main_container{

    display:flex;
    flex-direction: column;
    
    height: 100vh;      /* toute la hauteur */
    padding: 25px;
    background-color: black;
    
}
.header{

    flex:2;                         /* taille */
    

}
.tv_show_detail{
    
    flex:4;
    
}
.recommendations{
    
    flex:2;
    
}

.title{
    background-color: aqua;
}
.search {
    background-color: blueviolet;
}